body,
html {
  margin: 0;
  background-color: black;
}

.text {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 1rem;
  background-color: black;
}

#credit {
  position: absolute;
  left: 17px;
  bottom: 30px;
}

#instructions {
  position: absolute;
  left: 52px;
  top: 15px;
}

button {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-size: 2rem;
  padding: 20px;
  border: none;
  transition: border-radius 0.3s;
  /* box-shadow: 4px 6px 18px -2px #000000; */
}

.button {
  user-select: none;
}

.rounded {
  border-radius: 128px;
}

.moving-text-wrapper {
  position: relative;
  overflow: hidden;
}

.letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.letter.black {
  background-color: #000;
}

button:hover {
  background-color: red;
  -webkit-tap-highlight-color: red;
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

.tweet-text {
  font-family: "Courier New", Courier, monospace;
  max-width: 35%;
  position: absolute;
  color: white;
  font-size: 2rem;
  right: 17px;
  top: 15px;
}

@media only screen and (max-width: 820px) {
  #credit {
    left: auto;
    bottom: auto;
    right: 17px;
    top: 40px;
  }

  #instructions {
    left: auto;
    bottom: auto;
    right: 17px;
    top: 12px;
  }

  .tweet-text {
    max-width: 50%;
    font-size: 1.25rem;
    right: auto;
    left: 17px;
    top: 120px;
  }

  @media only screen and (max-height: 600px) {
    button {
      font-size: 1rem;
      padding: 10px;
    }
  }
}

@media only screen and (max-height: 600px) {
  .tweet-text {
    max-width: 50%;
    font-size: 1.25rem;
  }
}
